.country{
    border: 4px solid yellowgreen;
    margin:  17px;
    padding: 17px;
    border-radius: 11px;
}

.capital{
    border: 4px solid rgb(236, 161, 23);
    margin:  17px;
    padding: 17px;
    border-radius: 11px;
}
.flag{
    border: 4px solid rgb(73, 10, 109);
    margin:  17px;
    padding: 17px;
    border-radius: 11px;
}